main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#form-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: auto;
  padding: 5rem;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}
#form-box > h1 {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-size: 24px;
}
form {
  height: 90%;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  background: none;
}
.conn_reg_form {
  height: 2rem;
  margin-bottom: 1rem;
  background: none;
  border-width: 0 0 2px;
  border-color: white;
  color: #fca311;
  font-size: 16px;
}
.conn_reg_form:focus {
  outline: none;
  color: #fca311;
}

.conn_reg_form::placeholder {
  color: white;
}

.submit {
  margin-top: 1rem;
  width: 100%;
  height: 2rem;
  font-size: 16px;
  text-transform: uppercase;
  background: none;
  border: none;
  color: white;
  font-weight: bold;
  padding: 0;
  text-align: center;
  outline: none;
}
.submit:hover {
  border: 1px solid #fca311;
  color: #fca311;
  transition: 0.8s all;
}
.error > p {
  margin-top: 1rem;
  color: red;
}
