h1 {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

h2 {
  color: #e5e5e5;
  text-transform: uppercase;
  font-weight: bold;
  text-align: start;
  font-size: 20px;
  margin: 2rem;
}

span {
  color: white;
}
div {
  display: flex;
  flex-direction: column;
}
table {
  width: 80%;
  align-self: center;
  position: relative;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
}
#filter {
  margin-left: 10%;
  margin-bottom: 0.5rem;
}
table,
th,
td {
  padding: 10px;
  border: 1px solid white;
  border-collapse: collapse;
  vertical-align: middle;
  color: white;
}

a {
  color: #fca311;
}
