h1 {
  color: #e5e5e5;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

#main_faq {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
h2 {
  color: #e5e5e5;
  text-transform: uppercase;
  font-weight: bold;
  text-align: start;
  font-size: 20px;
  margin: 2rem;
}

ul {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

main > ul > li > a {
  color: white;
}
main > ul > li {
  margin-bottom: 1rem;
}
main > ul > li > a:focus {
  cursor: pointer;
}
main > ul > li > a:hover {
  color: #fca311;
}
main > ul > li:last-child {
  margin-bottom: 4rem;
}
i {
  margin-right: 1rem;
  color: #fca311;
}

#secondary_faq {
  position: relative;
  max-height: 100vh;
  background-color: #e5e5e5;
  width: 40%;
  border-radius: 10px;
  margin-bottom: 1rem;
}
#title {
  display: flex;
  justify-content: space-between;
}
#title > p,
h3 {
  padding-top: 1rem;
  margin: 0 1rem 0 1rem;
}
#title > h3 {
  font-size: 18px;
  text-transform: uppercase;
  text-align: left;
  color: #14213d;
  font-weight: bolder;
}
#secondary_faq > p {
  margin: 1rem;
}
#secondary_faq > a {
  position: absolute;
  color: #fca311;
  font-weight: bold;
  bottom: 0;
  right: 0;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}
