#form-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: auto;
  padding: 5rem;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}
#form-box > h1 {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-size: 24px;
}
form {
  height: 90%;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  background: none;
  margin-left: 0;
}
.select_ticket {
  height: 2rem;
  margin-bottom: 1rem;
  background: transparent;
  border-color: white;
  color: #fca311;
  font-size: 16px;
}
.select_ticket:focus {
  outline: none;
  color: #fca311;
}

.select_ticket::placeholder {
  color: white;
}

.submit {
  margin-top: 1rem;
  width: 100%;
  height: 2rem;
  font-size: 16px;
  text-transform: uppercase;
  background: none;
  border: none;
  color: white;
  font-weight: bold;
  padding: 0;
  text-align: center;
  outline: none;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
}
.submit:hover {
  border: 1px solid #fca311;
  color: #fca311;
  transition: 0.8s all;
}
textarea {
  resize: none;
  min-height: 10rem;
}
