body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background-color: #252323;
}
header {
  height: 5vh;
  width: 100%;
  border-bottom: 1px solid #fca311;
}
nav {
  display: flex;
  width: 100%;
  height: 100%;
}
nav > ul {
  display: flex;
  width: 100%;
  align-self: center;
}
nav > ul > li {
  align-self: center;
}

nav > ul > li > a {
  margin-left: 3rem;
  font-weight: bold;
  width: 100%;
  text-transform: uppercase;
  font-size: 16px;
  color: #fca311;
}
nav > ul > li:last-child {
  margin-right: 3rem;
}

#form {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.search,
.submit {
  display: inline-block;
  padding: 3px 5px;
  border-radius: 0;
  font-size: 18px;
}

.search {
  border: 1px solid lightslategray;
  background-color: #252323;
  border-radius: 5px;
  width: 60%;
}
.search:focus {
  color: #fca311;
  outline: none;
}
.search::placeholder {
  color: lightslategray;
}
.submit {
  margin-left: -2rem;
  border: none;
  background-color: transparent;
}
.submit > i {
  color: lightslategray;
}
.submit:focus {
  outline: none;
}
.submit > i:hover {
  cursor: pointer;
  color: #fca311;
}

.connect {
  margin-left: auto;
}
