main {
  display: flex;
  flex-direction: column;
}

h1 {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#main_ticket {
  width: 80%;
  min-height: 20vh;
  border-radius: 10px;
  background-color: #e5e5e5;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  margin-bottom: 4rem;
}
#info {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 2rem;
  justify-content: center;
}
#info > p:first-child {
  margin-bottom: 1rem;
}
#info > p:last-child {
  margin-top: 1rem;
}
#info > p {
  text-transform: uppercase;
}
#info > div > p {
  text-transform: uppercase;
}
#statut {
  display: flex;
}
#statut > i {
  margin-left: 0.5rem;
}
#main_ticket > p {
  text-align: justify;
  align-self: center;
  margin-right: 2rem;
}

#noAdmin {
  margin-left: 6rem;
  margin-bottom: 1rem;
  width: 20%;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    90% 76%,
    90% 99%,
    80% 75%,
    0% 75%
  );
  min-height: 5rem;
  background-color: rgba(0, 0, 0, 0.685);
  align-self: flex-start;
}
#noAdmin > p {
  color: rgb(252, 163, 17);
  text-align: end;
  margin-right: 1rem;
}
#noAdmin > p:first-child {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
}

#isAdmin {
  margin-right: 6rem;
  margin-bottom: 1rem;
  width: 20%;
  min-height: 5rem;
  background-color: rgb(252, 163, 17);
  align-self: flex-end;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 75%,
    10% 75%,
    10% 100%,
    20% 75%,
    0% 75%
  );
}
#isAdmin > p {
  color: white;
  text-align: start;
  margin-left: 1rem;
}
#isAdmin > p:first-child {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
}
