h1 {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
table {
  width: 80%;
  align-self: center;
}
table,
th,
td {
  padding: 10px;
  border: 1px solid white;
  border-collapse: collapse;
  vertical-align: middle;
  color: white;
}
